*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(18, 33, 92, 0.7),rgba(18,33,92,0.7)), url(../css/images/cryptocurrency.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 20%;
    position: relative;
    border-radius: 15px;
}

.nav-links{
    flex: 1;
    text-align: left;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font: roboto;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44556;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: white;
    padding: 5px;
    overflow: hidden;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 20%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.text-box h1{
    font-size: 50px;
}

.text-box2{
    width: 90%;
    color: rgb(190, 11, 11);
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.text-box2 h1{
    font-size: 30px;
}

.text-box3{
    width: 90%;
    color: rgb(74, 247, 51);
    position: absolute;
    top: 60%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.text-box3 h1{
    font-size: 30px;
}

