<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="CryptoTrader"> 
        <title>CryptoTrader</title>
        <link rel="stylesheet" href="style_menu.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    </head>

    <body>
        <section class="header">
            <nav>
                <a href="index.html"><img src="../images/logo.png"></a>
                <div class="nav-links">
                    <ul>
                        <li><a href="">HOME</a></li>
                        <li><a href="">ABOUT</a></li>
                        <li><a href="">CONTACT</a></li>
                        <li><a href="">HELP</a></li>
                    </ul>
                </div>
            </nav>

            <div class="text-box">
                <h1>Trading Menu</h1>
            </div>
            

            <div class="form-box"> 
                <form action="#">
                    <select name="coins" id="coin">
                      <option value="select">Choose the cryptocurrency</option>
                      <option value="bitcoin">Bitcoin</option>
                      <option value="ethereum">Ethereum</option>
                      <option value="tether">Tether</option>
                      <option value="usd-coin">USD Coin</option>
                      <option value="binancecoin">BNB</option>
                      <option value="cardano">Cardano</option>
                      <option value="solana">Solana</option>
                      <option value="dogecoin">Dogecoin</option>
                    </select>

                    <div class="row">
                        <span>
                          <input class="basic-slide" id="cryptocurrency" type="text" placeholder="Cryptocurrency" /><label for="name">Buy</label>
                        </span>
                      </div>

                    <input type="submit" value="Submit" />
                </form>
            </div>
            

        </section>
            
    </body>
</html>